In [1]:
# Chargement & analyse initiale

import pandas as pd

# Charger le dataset
df = pd.read_csv('../data/IMDB Dataset.csv')

# Aperçu rapide
print("Aperçu des données :")
display(df.head())

# Taille du dataset
print(f"\nNombre total de critiques : {len(df)}")

# Répartition des sentiments
print("\nRépartition des sentiments :")
print(df['sentiment'].value_counts())

Aperçu des données :

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

Nombre total de critiques : 50000

Répartition des sentiments :
sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [2]:
# Suppression de la colonne 'sentiment'
df = df.drop(columns=['sentiment'])

# Vérification : affichage des colonnes restantes
print("\nColonnes après suppression :")
print(df.columns)

Colonnes après suppression :
Index(['review'], dtype='object')

In [3]:
display(df.head())

                                              review
0  One of the other reviewers has mentioned that ...
1  A wonderful little production. <br /><br />The...
2  I thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...
4  Petter Mattei's "Love in the Time of Money" is...

In [4]:
#enregistrement du nouveau dataset
df.to_csv('../data/unlabeled_reviews.csv', index=False)
print(" Dataset sans annotation de sentiment sauvegardé.")

 Dataset sans annotation de sentiment sauvegardé.

In [5]:
#  Échantillon aléatoire de 1 000 critiques (non annotées)
sample_df = df.sample(n=1000, random_state=42)

# Sauvegarde de l'échantillon pour la suite
sample_df.to_csv('../data/sample_1000_reviews.csv', index=False)

# Vérification
print(f"Échantillon créé avec {len(sample_df)} critiques.")
display(sample_df.head())

Échantillon créé avec 1000 critiques.

                                                  review
33553  I really liked this Summerslam due to the look...
9427   Not many television shows appeal to quite as m...
199    The film quickly gets to a major chase scene w...
12447  Jane Austen would definitely approve of this o...
39489  Expectations were somewhat high for me when I ...